.start_btn {
  background-color: #6ed5b7;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 24px;
  width: 200px;
  padding: 20px;
  color: white;
}
.start_btn:hover{
    background-color: #30997b;
}
.heading {
  color: white;
  font-size: 50px;
}
