.question_container {
  background-color: #252d4a;
  width: 800px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.score_section,
.score_section button {
  align-items: center;
  margin: 15px auto;
  text-align: center;
  display: block;
}
.question_control {
  margin: 0 auto;
  text-align: center;
}
.question_control button {
  display: inline;
  width: 150px;
  margin: 20px 10px;
  font-size: 24px;
}
.question_section {
  width: 100%;
  position: relative;
}

.question_count {
  margin-bottom: 20px;
}

.question_count span {
  font-size: 28px;
}

.question_text {
  margin-bottom: 12px;
}

.answer_section {
  width: 100%;
}

button {
  width: 100%;
  background-color: whitesmoke;
  color: black;
  border-radius: 15px;
  display: flex;
  padding: 17px 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
}
.previous_btn {
  background-color: #6b7280;
}
.previous_btn:disabled {
  cursor: default;
  background-color: #edeff5;
  color: #acacac;
}

.submit_btn {
  background-color: #f59e0b;
}

.submit_btn:hover {
  background-color: #b6770b;
}
.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.answer_section button:hover {
  background-color: rgb(0, 183, 255);
}

.answer_section button:active {
  background-color: rgb(0, 183, 255);
}

button svg {
  margin-right: 5px;
}

.next_btn,
.tryAgain_btn {
  background-color: #6ed5b7;
}
.next_btn:hover,
.tryAgain_btn:hover {
  background-color: #32a383;
}
.tryAgain_btn,
.review_btn {
  font-size: 24px;
  padding: 20px;
  width: 200px;
}
.review_btn {
  background-color: red;
}
.review_btn:hover {
  background-color: rgb(173, 19, 19);
}
