.review_container {
  width: 800px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  background-color: #252d4a;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.question_control {
  margin: 0 auto;
  text-align: center;
}
.question_control button {
  display: inline;
  width: 150px;
  margin: 20px 10px;
  font-size: 24px;
}
.question_section {
  width: 100%;
  position: relative;
}

.question_count {
  margin-bottom: 20px;
}

.question_count span {
  font-size: 28px;
}

.question_text {
  margin-bottom: 12px;
}

.answer_section {
  width: 100%;
}

.previous_btn {
  background-color: #6b7280;
}
.previous_btn:disabled {
  cursor: default;
  background-color: #edeff5;
  color: #acacac;
}

.next_btn {
  background-color: #6ed5b7;
}

.tryAgain_btn {
  background-color: #f59e0b;
}
.tryAgain_btn {
  background-color: #cf8910;
}
